

/************ APP STYLING **************/
.App {
  text-align: center;
  background-image: url('/bookcase.jpg');
  background-size: 100% auto;
}

.centered {
  text-align: center;
}

.menu{
  color: white !important;
  background-color: #245C7A !important;
  box-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4) !important;
}

.search-width{
  width: 65%;
}

h1.white {
  margin: 0;
  color: white;
  font-size: 60px;
  text-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4);
}

/************* HOME PAGE STYLING **********/
.home{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 40vw;
  background-color: #ECFCFF !important;
  box-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4);
  border-radius: 5%;
}

.home-caption{
  width: 90%;
}

.home-title-1{
  font-size: 100px;
  margin: 0;
}

.home-title-2{
  font-size: 100px;
  margin: 0 0 10px 0;
}

/************* AUTHOR PAGE STYLING *************/

.authors {
  min-height: 100vh;
}

.author-portrait {
  /* height: 30%; */
}

.authors-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author-search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #245C7A !important;
  box-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4) !important;
}


.add-author-button{
  height: 50px !important;
  color: white !important;
  background-color: #5E9CBD !important;
  box-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4) !important;
}

.delete-author-button{
  background-color: #F9FAFB !important;
}

.author-table{
  background-color: #F9FAFB !important;
  box-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4) !important;
}

/************** BOOK PAGE STYLING *************/
.books {
  min-height: 100vh;
}

.book-cover {
  height: 30%;
}

.books-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.book-search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #245C7A !important;
  box-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4) !important;
}

.add-book-button{
  height: 50px !important;
  color: white !important;
  background-color: #5E9CBD !important;
  box-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4) !important;
}

.book-table{
  background-color: #F9FAFB !important;
  box-shadow: 4px 4px 4px rgba( 0, 0, 0, 0.4) !important;
}
