.App {
  text-align: center;
}

.book-cover {
  height: 30%;
}

.books-header{
  display: flex;
  justify-content: space-between;
}

.author-portrait {
  /* height: 30%; */
}

.authors-header{
  display: flex;
  justify-content: space-between;
}

.centered {
  text-align: center;
}
